*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-repeat: no-repeat;
	display: flex;
	padding: 10px;
	flex-direction: column;
	background: #E6E6E6;
	justify-content: center;
	font-family: sans-serif;
	color: black;
}
main{
	padding: 10px;
}

.myHeader{
	height: auto;
	padding: 5px;
	color: white;
	width: 95%;
	background-color: #81BEF7;
	border-style: outset;
	border-color: blue;
	border-radius: 5px;
	border-width: 1px;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px
}
.weather-icon{
	float: left;
}
.current-weather{
	display: flex;
	justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;

}
.reload{
	float: right;
	cursor: pointer;
	height: 50px;
}
.reload:hover{
	transform: scale(1.2);
}
.icon{
	height: 70px;

}

.lastupdate-desp{
	float: right;

}

.dropbtn {
  background-color: #ff1a1a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  box-shadow: 1px 1px 3px 0px red;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  z-index: 1;
  position: absolute;
  min-width: 160px;
  border-radius: 0px 5px 5px 5px;
  background-color: salmon;
  padding: 12px 16px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.location,
.temperature{
	height: 30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.temperature{
	flex-direction: column;
}
.fore_card {
text-align: center;
justify-content: center;
  background-color: #1B72A4;
  margin: 5px;
  box-shadow: 1px 1px 2px 0px #666699;
  border-radius: 20px;
}

.temp_div {
  display: flex;
  padding: 1vh 0;
  flex-wrap: wrap;
  margin-right:50px;
  justify-content: center;
  flex-shrink: 0;
  margin-left:50px;
  border-radius: 20px;
}
.tablink{
	padding: 20px;
  background-color: #66ccff;
  width: 25%;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  border:none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding: 15px;
  outline: none;
  
  
  
}
.active{
	padding: 20px;
  background-color: #ada3e0;
  width: 25%;
  border-radius: 20px 20px 0px 0px;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 15px;
  padding: 15px;
  outline: none;
  align-items: center;

}
.buttons{
	align-items: center;
	text-align: center;
	font-size: 1.2em;
	justify-content: center;
}
.tablink:hover{
	transform: scale(1.05);
  background-color: #57abff;
  color:blue;
}
.temp_city {
  background-color: #1B72A4;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0px #666699;
  width: 140px;
  box-sizing: border-box;
  color: white;
  margin: 4px;
  height: 140px;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.close {
	right: 6px;
  position: absolute;
  top: 6px;
  height: 20px;
}

.close:hover {
  cursor: pointer;
	transform: scale(1.1);
}

.hide{
	display: none;
}
.fordiv {
	justify-content: center;
	text-align: center;
  display: flex;
  padding: 1vh 0;
  flex-wrap: wrap; 
  border-radius: 20px;
}

